* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;

}


.container {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.grid-left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px auto auto;
    grid-template-areas: "a a a"
        "b b b"
        "c d e";
}

.container .grid-left .item-01 {
    grid-area: a;
    height: 450px;
    background-color: rgb(255, 8, 0);
}

.container .grid-left .sub-grid {
    grid-area: b;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container .grid-left .item-02 {
    height: 350px;
    background-color: rgb(200, 255, 0);
}

.container .grid-left .item-03 {
    height: 350px;
    background-color: rgb(0, 238, 255);
}

.container .grid-left .item-04 {
    grid-area: c;
    height: 100px;
    background-color: rgb(76, 0, 255);
}

.container .grid-left .item-05 {
    grid-area: d;
    height: 100px;
    background-color: rgb(255, 0, 85);
}

.container .grid-left .item-06 {
    grid-area: e;
    height: 100px;
    background-color: rgb(255, 81, 0);
}



.grid-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  
}

.grid-right .left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto 450px auto;
}

.grid-right .right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.btn-next {
    background-color: #c63d00;
    
}